* {
	margin: 0%;
	padding: 0%;
}

body {
	margin: auto;
	width: 1100px;
}

ul {
	list-style: none;
}

h2 {
	border-bottom: 1px #b4b4b4 solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
	color: #55aaff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #55aaff;
}

span {
	color: #b4b4b4;
}

.header {
	background-color: #e1e1e1;
	height: 100px;
	width: 100%;
	text-align: center;
}

.logo img:nth-child(1) {
	float: left;
	height: 100%;
	margin-left: 50px;
}

.logo img:nth-child(2) {
	float: right;
	height: 100%;
	margin-right: 50px;
}

.nav {
	width: 100%;
	background-color: #00679a;
	color: #e1e1e1;
	line-height: 2em;
	display: flex;
	flex-direction: row;
}

.nav ul {
	width: 100%;
	margin-left: 50px;
}

.nav ul li {
	float: left;
	display: block;
	width: 100px;
}

.main {
	width: 100%;
	float: left;
	height: 1300px;
}

#main_log {
	width: 90%;
	padding: 0 5%;
	background-color: #e1e1e1;
}

.content {
	width: 90%;
	height: 70%;
	margin: auto;
	padding-top: 20px;
	border-bottom: 1px #b4b4b4 solid;
}

.content_left {
	float: left;
	width: 66%;
}

.content_right {
	float: left;
	width: 34%;
}

.info {
	width: 94%;
	float: right;
}

.info h3 {
	width: 100%;
	text-align: center;
	background-color: #00aaff;
	color: #ffffff;
	font-size: 16px;
	line-height: 2em;
	font-weight: unset;
}

.info ul {
	width: 100%;
	background-color: #e1e1e1;
	list-style: disc;
	list-style-position: inside;
	margin-bottom: 15px;
	padding: 20px 0;
}

.info ul li {
	width: 96%;
	padding: 0 2%;
	line-height: 2.2em;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info a {
	color: #4d4d4d;
}

.info a:hover {
	color: #00aaff;
}

.content_news {
	width: 100%;
}

.content_news .content_left p {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 2.2em;
	font-size: 12px;
}

.content_news .content_left a {
	color: #4d4d4d;
}

.content_news .content_left a:hover {
	color: #00aaff;
}

.content_news .content_right {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.content_news .content_right ul {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 50px 30px 10px;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	color: #ffffff;
}

.content_news .content_right ul li {
	width: 44%;
	margin: 3%;
	font-size: 17px;
	display: flex;
	aspect-ratio: 4/3;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center
}

.content_news .content_right ul li:nth-of-type(1) {
	background-color: #4d4d4d;
}

.content_news .content_right ul li:nth-of-type(2) {
	background-color: #004263;
}

.content_news .content_right ul li:nth-of-type(3) {
	background-color: #00aaff;
}

.content_news .content_right ul li:nth-of-type(4) {
	background-color: #62c500;
}

.content_products {
	width: 100%;
}

.content_products .content_left ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.content_products .content_left ul li {
	width: 25%;
	text-align: center;
	line-height: 1.5em;
}

.content_products .content_left li img {
	width: 80%;
}

.content_clerk {
	width: 100%;
}

.content_clerk .content_left ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	font-size: 12px;
}

.content_clerk .content_left ul li {
	width: 29%;
	text-align: center;
	line-height: 1.5em;
	margin: 2%;
}

.content_clerk .content_left img {
	width: 50%;
	float: left;
}

.content_clerk .content_left span {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #4d4d4d;
}

.footer {
	width: 100%;
	text-align: center;
	line-height: 2em;
}

.footer a {
	color: #00679a;
}